*{margin:0; padding:0}
/*全局样式:*/
html{
	background:white;
	font-size: 14px;
	color: #666;
}
ol,ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.slides:after {
	visibility: hidden
}
.rede1 {
	color: #e14958
}
.cover-img {
	background-position: center center;
	background-size: cover
}
.fl{
	float: left;
}
* html .slides {
	height: 1%
}
/*.da-sidebar .sb-cart.active .cut-line,
.da-sidebar .sb-cart:hover .cut-line,
.slides:after {
	visibility: hidden
}*/
.da-sidebar .sb-more:hover,
.regtip-close:hover {
	text-decoration: none
}
.ico-arrow {
	background: url(img/da-footer/ico_arrow.png) no-repeat;
	display: inline-block;
	vertical-align: middle
}

/* 整体样式 */
/*  头：header -- start*/
.da-header{
	width: auto;
	background-color: #f2f2f2;
	border-bottom: 1px solid #dadada;
	margin-bottom: 30px;
	z-index: 5;
	font-size: 13px;
	
}
.da-header-inner{
	width: 1200px;
	margin: auto;
	height: 30px;

}
.da-header-inner>a{
	float: left;
	line-height: 30px;
}
.da-header-user {
	position: absolute;
	right: 210px;
	display: inline-block;
	line-height: 32px;
	font-size: 13px;
}
.da-header a:hover{
	text-decoration: underline;
	color: red;
}
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0
}

.clearfix {
	zoom: 1
}

/*  头：header -- end */
/* 头：banner --start  */


.da-banner {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 4;
	margin: 10px auto;
	
}
.da-header-search {
	float: right;
	width: 394px;
	position: relative;
	margin-right: 70px
}
.da-header-search .s-keyword {
	width: 301px;
	height: 36px;
	line-height: 36px;
	padding: 0 5px;
	border: 1px solid #6b4185;
	position: absolute;
	right: 81px
}

.da-header-search button {
	width: 81px;
	height: 38px;
	border: 1px solid #6b4185;
	line-height: 38px;
	background-color: #6b4185;
	color: white;
	display: inline-block;
	position: absolute;
	right: 0;
	font-size: 16px
}

.da-header-search .search-hot {
	margin-top: 45px;
	margin-bottom: 24px;
	height: 18px;
	overflow: hidden
}

.da-header-search .search-hot a {
	white-space: nowrap;
}
.da-header-search .search-hot a:hover {
	color: #e14958
}
.da-header-cart {
    width: 168px;
    height: 38px;
    border: 1px solid #dadada;
    border-radius: 2px;
    float: right;
    background: url(img/da-banner/da-header-cart-bg.jpg) 15px 7px no-repeat #f2f2f2;
    position: relative;

}
.da-header-cart a {
    line-height: 38px;
    text-indent: 60px;
    font-weight: 700;
    font-size: 14px;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    background: url(img/da-banner/da-header-cart-bg2.png) 150px 13px no-repeat;
    color: #6B696A;
    
}
.da-header-cart span {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: -5px;
    right: 21px;
    color: #fff;
    font-size: 12px;
    background: url(img/da-banner/da-header-cart-bg1.png) no-repeat;
}

.da-header-cart a:hover {
	color: #e14958;
	opacity: 1;
	filter: alpha(opacity=100);
}
.da-header-cart:hover {
	opacity: .8;
	filter: alpha(opacity=80)
}
.promo {
	width: 120px;
	height: 100px;
	float: left;
	margin-left: 20px;
	margin-top: -20px
}
.da-banner form {
	padding-right: 40px
}


/* 头：banner --end */
/* 头：nav -- start */


.da-nav{
	width: auto;
	height: 30px;
	line-height: 30px;
	background-color: black;
	position: relative;
}
/*下面是da-nav第一部分:*/
.da-nav-bar {
	width: 1200px;
	margin: 0 auto;
}

.da-nav-bar a:hover {
	color: #e14958;
}
.da-category {
	float: left;
	font-size: 16px;
	width: 220px;
	background-color: #654579;
	position: relative;
	z-index: 100;
	cursor: pointer;
}
.da-category .opened .dd,
.da-category:hover .dd {
	display: block;
}
.da-category .dt-title {
	text-align: center;
	color: #fff;
}
.da-category .dd {
	background-color: #e8e3eb;
	width: 220px;
	position: absolute;
	color: #666;
	display: none;
	height: 479px;
}
.da-category .ico-down,
.da-category .ico-up {
	vertical-align: middle;
	width: 11px;
	height: 7px;
	margin-left: 13px;
}
.da-category .ico-down {
	background: url(img/da-footer/ico_arrow.png) -5px -120px no-repeat;
	display: none
}

.da-category .ico-up {
	background: url(img/da-footer/ico_arrow.png) -25px -120px no-repeat;
	display: inline-block
}
.da-category .ico-category img {
	width: 18px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -4px;
}

.da-category dl {
	padding: 25px 20px 0;
	border: 1px solid #e8e3eb;
	height: 93px;
}

.da-category dl:hover {
	background-color: #fff;
	border: 1px solid #654579;
	border-right-color: #fff;
	width: 179px;
}
.da-category dl:hover .category-sort {
	border: 1px solid #fff
}

.da-category dl:hover .category-drop {
	display: block;
	border: 1px solid #654579;
	z-index: -1;
}

.da-category dt {
	font-size: 14px;
	line-height: 16px;
	padding-bottom: 16px;
}

.da-category dd {
	position: relative;
}

.da-category .category-sort-box {
	height: 44px;
	overflow: hidden;
	font-size: 12px;
}
.da-category .category-sort {
	line-height: 22px;
	height: 43px;
	position: relative;
	padding-right: 12px;
	padding-bottom: 14px;
	border-bottom: 1px dotted #d9d9d9;
	width: 168px;
}
.da-category .category-sort a {
	white-space: nowrap;
	margin-right: 6px;
}
.da-category .ico-arrow-2-4 {
	border-width: 2px 4px;
	border-style: solid;
	border-color: transparent transparent transparent #9e9e9e;
	width: 0;
	height: 0;
	line-height: 0;
	display: block;
	position: absolute;
	right: 0;
	top: 22px;
}
.da-category .hot-brand {
	padding-bottom: 40px;
}

.da-category .hot-brand-title {
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
}

.da-category .hot-brand-box {
	margin-left: -13px
}
.da-category .category-drop {
	width: 600px;
	min-height: 443px;
	overflow: hidden;
	position: absolute;
	left: 220px;
	top: 0;
	background-color: #fff;
	padding: 20px 40px 15px;
	display: none;
	border: 1px solid #654579;
}

.da-category .category-data {
	overflow: hidden
}
.da-category .brand-img {
	float: left;
	width: 140px;
	height: 70px;
	margin-left: 13px;
}

.da-category .brand-ad,
.da-category .brand-img-1 {
	float: right;
	width: 293px;
	height: 270px;
}

.da-category .category-data-1 {
	overflow: hidden;
	font-size: 12px;
}

.da-category .category-data-2 {
	margin-bottom: 20px;
}

.da-category .category-data-2:last-child {
	margin: 0;
}

.da-category .item {
	float: left;
	width: 80px;
	height: 22px;
	line-height: 22px;
	font-weight: 500;
}
.da-category .data {
	overflow: hidden;
	width: 208px;
	line-height: 22px;
}

.da-category .data a {
	margin-right: 20px;
	white-space: nowrap;
}





/*下面为da-nav第二部分,da-navigation:*/
.da-navigation {
	font-size: 14px;
	position: absolute;
	padding-left: 200px;
	
}

.da-navigation ul li {
	float:left;
	/*padding: 0 20px;*/
	margin-left: 60px;
}
.da-navigation ul li a {
	color: #fff;
	font-size: 16px;
}
.da-navigation li a:hover {
	color: #c4c4c4;
	text-decoration: none;
	
}

.dt-title a{
	color: #fff;
	float: left;
	text-align: center;
	width: 200px;
	background:#654579;
}

/* 头：nav -- over */
/* 中间：index -- start */
/* 中间：index-main -- start */

.da-index {
	padding-bottom: 50px;
	min-width: 1200px;
	background-color: #f9f9f9;
}
.index-ad{
	height: 480px;
	background-color: #b6d2e0;
	
}
.slides li{
	display: none;
}
.slides img{
	width: auto;
	margin: 0 auto;
	display: block;
	height: 480px
}
/*main部分,购物区*/

.index-main{
	width: 1200px;
	margin: 0 auto;
	padding-top: 90px;

}
.index-main h2 .change {
	position: absolute;
	right: 40px;
	font-size: 14px;
	background-color: #e14958;
	color: #fff;
	width: 90px;
	height: 29px;
	text-align: center;
	line-height: 29px;
	font-weight: 300;
}
.index-title{
	width: 430px;
	height: 1px;
	background-color: #676767;
	margin: 0 auto 16px;
	position: relative;
	font-size: 30px
}

.index-title p{
	position:absolute;
	top: -22px;
	left: 130px;
	text-align: center;
	padding: 0 10px;
	background-color: #f9f9f9;
}
.index-main h2 {
	font-weight: 400;
	padding-bottom: 14px;
	position: relative;
	padding-top: 34px;
	font-size: 16px;
	margin-left: 11px;
}
.index-main h3 {
    line-height: 36px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 36px;
    zoom: 1;
}
.index-new span{
	padding: 10px;
}
.index-new .index-new-box{
	height: 660px;
	overflow: hidden;
}
.index-new ul {
	margin-left: -20px;
	margin-bottom: 20px;
}
.index-new ul li {
	background-color: #fff;
	width: 283px;
	height: 378px;
	border: 1px solid #e5e5e5;
	margin-left: 20px;
	float: left;
}
.index-new ul li .new-img{
	width: 283px;
	height: 268px;
	display: block;
	position: relative;
}
.index-new ul li .new-img .bgoption{
	width: 283px;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #895ca5;
	opacity: .8;
	filter: alpha(opacity=80);
	display: none;
}
.index-new ul li .new-img .option{
	width: 283px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #FFF;
	text-align: center;
	position: absolute;
	z-index: 3;
	bottom: 0;
	display: none; 
}
.index-new ul li:hover .option {
	display: block;
}
.index-new ul li .data {
	padding: 8px 26px 0;
}


.index-new ul li .data .price .now-price {
	padding-right: 4px;
}

.index-new ul li .data .price .collect {
	line-height: 30px;
	float: right;
}

.index-new ul li:hover {
	box-shadow: 0 0 10px #d5d2d2;
}


.index-new ul li:hover .old-price {
	color: #895ca5;
}
.index-new ul li:hover .bgoption,
.index-new ul li:hover .option {
	display: block;
}

.index-new .w589 li{
	width: 587px;
    height: 238px;
    position: relative;
}
.index-new .w589 li .new-img{
	width:283px;
	height:238px;
	float: left;
	position: relative; 
}
.index-new .w589 li .data{
	width: 230px;
    float: right;
    padding: 80px 24px 0 50px;
}
.index-new ul li .data .price {
	padding-bottom: 8px;
}
.index-new ul li .data .title {
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	color: #666;
}

/*index-worth,神马值得买开始:*/
.index-worth-box {
	background-color: #fff;
	padding-bottom: 52px;
	margin-bottom: 42px;
	padding-top: 42px
}

.index-worth-box li {
	float: left;
	width: 208px;
	margin: 0 10px
}

.index-worth-box li .worth-img,
.index-worth-box li a {
	display: block;
	width: 208px;
	height: 140px
}
.index-worth .worth-span{
	padding-left: 28px;
	font-size: 14px;
}
.index-worth-box li a:hover {
	box-shadow: 0 0 10px #d5d2d2
}

.index-country-box {
	position: relative;
	height: 140px;
	overflow: hidden
}
.index-country-box ul {
	margin-left: 30px
}

/*index-good开始:*/
/*index-tab导航栏:*/
.index-good {
	background-color: #fff;
	margin-bottom: 42px
}

.index-good .index-good-tab {
	padding-top: 42px;
	border-bottom: solid 1px #e5e5e5;
	height: 30px;
	line-height: 30px;
	padding-left: 36px;
	margin-bottom: 40px
}

.index-good .index-good-tab li {
	display: block;
	float: left;
	margin-right: 10px;
	padding: 0 12px;
	font-size: 16px;
	border: 1px solid #e5e5e5;
	border-bottom: none 0;
	height: 29px;
	line-height: 29px;
	cursor: pointer;
}
/*.index-good-list .goodUl{
	display: none;
}*/

.index-good .index-good-tab li.currentt{
	background-color: #e14958;
	color: #fff;
}
.index-good .index-good-list .selected{
	display: block;
}

/*index-good-list clearfix,商品区开始:*/
.index-good-list {
	margin-left: -33px
}
.index-good-list .goodul{
	display: none;
}

.index-good-list li {
	float: left;
	width: 280px;
	margin-left: 100px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border: 1px solid #fff
}

.index-good-list li:hover {
	border: 1px solid #e5e5e5;
	box-shadow: 0 0 10px #d5d2d2
}
.index-good-list .cover-img{
	width: 280px;
	height: 280px;
	display: block;
}

.index-good-list .data {
	padding-left: 12px;
}

.index-good-list .price {
	padding-top: 10px;
	padding-bottom: 8px
}

.index-good-list .title {
	margin-bottom: 10px;
	height: 38px;
	overflow: hidden;
	line-height: 18px;
}
.index-good-list .comment {
	position: relative;
}
.index-good-list .face {
	width: 35px;
	height: 35px;
	float: left;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
	left: 10px;
	top: 7px;
}

.index-good-list .bg {
	width: 256px;
	height: 50px;
	background-color: #fffcdb;
	opacity: .7;
	filter: alpha(opacity=70);
	border-radius: 25px;
}
.index-good-list .comment-text {
	position: absolute;
	z-index: 2;
	left: 56px;
	top: 6px;
	width: 180px;
	line-height: 20px;
}
.index-good-list .comment-text a,
.index-good-list .comment-text p {
	width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.index-good-list .comment-text a {
	color: #a07eb5;
	display: block;
}

/*index-buy-list,买了又买开始:*/

.index-buy-again{
	height:521px;
	overflow: hidden;
}
.index-buy-again {
	background-color: #fff;
	margin-bottom: 42px
}
.index-buy-list .ex-first{
	width:394px;
	line-height: 45px;
}
.index-buy-list {
	margin-left: 10px
}

.index-buy-list dl {
	float: left;
	width: 394px
}

.index-buy-list dl:first-child {
	border: 0
}

.index-buy-list dt {
	line-height: 46px;
	text-align: center;
	border-bottom: solid 1px #eee;
	font-size: 16px;
	color: #e14958
}

.index-buy-list dd {
	position: relative;
	border-bottom: solid 1px #eee
}

.index-buy-list .first {
	/*width: 394px;*/
	/*height: 215px;*/
	padding: 38px 20px 10px;
	margin: 0;
}

.index-buy-list .first .cover-img {
	width: 166px;
	height: 166px;
	float: left
}

.index-buy-list .first .title {
	line-height: 18px;
	height: 56px;
	overflow: hidden
}

.index-buy-list .first .price {
	padding: 6px 0 10px
}

.index-buy-list .first .state {
	color: #999
}

.index-buy-list .first .state a {
	line-height: 20px;
	color: #999
}

.index-buy-list .data {
	overflow: hidden;
	padding-left: 10px
}

.index-buy-list .tag {
	position: absolute;
	width: 54px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	padding-left: 16px;
	display: block;
	left: 0;
	top: 0;
	background-color: #e14958;
	font-size: 14px
}

.flexslider,
.index-newest .comment {
	position: relative
}

.index-buy-list .tag.grey {
	background-color: #c6c6c6
}

.index-buy-list .cover-img {
	width: 45px;
	height: 45px;
	float: left
}

.index-buy-list .ex-first .data,
.index-buy-list .ex-first .title {
	overflow: hidden;
	width: 224px;
	text-overflow: ellipsis
}

.index-buy-list .ex-first .img-link {
	display: block;
	padding: 3px 20px 3px 92px
}

.index-buy-list .ex-first .data {
	line-height: 45px;
	height: 45px;
	white-space: nowrap
}

.index-buy-list .ex-first .prefix {
	display: inline
}

/*index-newest,今日黑马开始:*/
.index-newest {
	background-color: #fff;
	margin-bottom: 55px;
	padding-top: 42px;
	zoom: 1
}

.index-newest .data {
	width: 242px;
	margin: 0 auto;
	padding-left: 0
}

.index-newest .bg {
	margin-left: 12px
}

.index-newest .comment-text {
	left: 30px
}

.index-newest .comment-text p {
	width: 190px
}
/*index-sale开始:*/
.index-sale li {
	background-color: #fff;
	margin-bottom: 19px;
	border: 1px solid transparent;
}

.index-sale li:hover {
	border: 1px solid #e5e5e5;
	box-shadow: 0 0 10px #d5d2d2;
}

.index-sale .data {
	overflow: hidden
}

.index-sale .intro {
	color: #888;
	margin: 4px 0 20px;
	height: 70px;
	overflow: hidden;
	line-height: 18px
}

.index-sale .colon {
	display: inline-block;
	padding-left: 2px
}
/*index-sala左侧图片区开始:*/
.index-sale-list {
	width: 786px;
	float: left
}

.index-sale-list .title {
	height: 34px;
	overflow: hidden;
	margin-bottom: 10px;
	line-height: 16px;
}

.index-sale-list .index-sale-img {
	width: 492px;
	height: 280px;
	float: left;
}

.index-sale-list .cover-img {
	width: 280px;
	height: 280px;
	margin: 0 auto;
}

.index-sale-list .data {
	padding-left: 26px;
	padding-right: 26px
}

.index-sale-list .timeout {
	width: 194px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	background-color: #333;
	text-align: center;
	margin: 0 auto 20px
}

.index-sale-list .discount {
	color: #e14958
}

.index-sale-list .btn-buy,
.index-sale-list .btn-nostock {
	text-align: center;
	display: inline-block;
	width: 140px;
	height: 38px;
	color: #fff;
	line-height: 38px;
	font-size: 16px;
	margin-top: 24px
}

.index-sale-list .btn-buy {
	background-color: #e14958
}

.index-sale-list .btn-nostock {
	background-color: #6b696a
}

.index-sale-list .info {
	padding-left: 16px;
	padding-top: 40px
}
/*index-sala又侧图片区开始:tommorrow:*/
.index-tommorrow {
	width: 386px;
	float: right
}

.index-tommorrow .title {
	height: 50px;
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 16px
}

.index-tommorrow .cover-img {
	float: left;
	width: 236px;
	height: 193px
}

.index-tommorrow .tomorrow-title {
	font-size: 18px;
	text-align: center;
	padding-bottom: 10px
}

.index-tommorrow .tomorrow-title p {
	line-height: 24px;
	font-size: 14px
}

.index-tommorrow .data {
	padding: 18px 13px 0
}

.index-tommorrow .btn-cart{
	width: 75px;
	height: 20px;
	line-height: 18px;
	background-color: #e14958;
	color: #fff;
}
/*----------*/
.da-ad img,
.da-ad-once img {
	max-width: 1200px;
	vertical-align: top
}

.flexslider {
	margin: 0;
	padding: 0;
	zoom: 1;
	z-index: 1
}

.flexslider .slides>li {
	display: none;
	-webkit-backface-visibility: hidden
}
.flexslider .slides img {
	width: auto;
	margin: 0 auto;
	display: block;
	height: 480px
}

/*右边固定侧边栏:*/

/*.da-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	background: #333;
	color: #fff;
	text-align: center;
	z-index: 150;
	min-height: 480px;
	width: 40px
}
.da-sidebar .sidebar-btn.active,
.da-sidebar .sidebar-btn:hover {
	background-color: #e14958
}
.da-sidebar .sidebar-posi {
	position: relative
}

.da-sidebar .sidebar-posi strong {
	display: none;
	position: absolute;
	top: 0;
	right: 40px;
	width: 100px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	background: #666
}

.da-sidebar .sidebar-posi strong em {
	position: absolute;
	right: -5px;
	top: 15px;
	display: block;
	border-color: transparent transparent transparent #666;
	border-width: 5px 0 5px 5px;
	border-style: solid
}

.da-sidebar .sidebar-posi:hover strong {
	display: block
}
.da-sidebar .icon_cart {
	background: url(img/da-sidebar/ico_sidebar.png) -26px top;
	width: 33px;
	height: 26px;
	display: block;
	margin-bottom: 10px
}

.da-sidebar .icon_number {
	width: 20px;
	height: 20px;
	background-color: #e34755;
	border-radius: 50%;
	display: inline-block;
	line-height: 20px;
	margin-top: 7px;
	color: #fff
}
.da-sidebar .icon_promo {
	background: url(img/da-sidebar/ico_sidebar.png) 6px top;
	width: 33px;
	height: 22px;
	display: block;
	margin-bottom: 10px
}
.da-sidebar .icon_collect {
	background: url(img/da-sidebar/ico_sidebar.png) -60px top;
	width: 32px;
	height: 25px;
	display: block;
	margin-bottom: 8px;
}
.da-sidebar .name {
	line-height: 16px
}
.da-sidebar .sb-cart {
	position: relative;
	margin-top: 110px;
	margin-bottom: 22px;
	padding: 0 0 10px
}
.da-sidebar .sb-promo {
	height: 37px;
	padding-top: 5px
}

.da-sidebar .sb-collect {
	padding-top: 7px;
	height: 39px
}
.da-sidebar .goTop {
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	right: 5px;
	bottom: 10px;
	overflow: hidden
}
.da-sidebar .goTop img {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px
}
.da-sidebar .close {
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	width: 16px;
	height: 16px;
	background: url(img/da-sidebar/login-close.png);
	cursor: pointer
}
.da-sidebar .cut-line {
	background-color: #515151;
	width: 22px;
	height: 1px;
	overflow: hidden;
	margin: 0 0 14px 9px
}
.da-sidebar .qrcode {
	background: url(img/da-sidebar/ico-qrcode.png) no-repeat;
	width: 22px;
	height: 22px;
	position: absolute;
	bottom: 58px;
	left: 9px
}
.da-sidebar .qrcode-pop {
	position: absolute;
	width: 109px;
	height: 138px;
	border: 1px solid #e5e5e5;
	border-right: none 0;
	left: -119px;
	bottom: -8px;
	text-align: center;
	color: #000;
	display: block;
	background-color: #fff
}
.da-sidebar .qrcode-arrow {
	position: absolute;
	border-width: 5px 6px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
	right: -12px;
	bottom: 14px
}
.da-sidebar .qrcode-img {
	background: url(img/da-sidebar/cod_da.png) no-repeat;
	width: 91px;
	height: 91px;
	display: block;
	margin: 10px auto;
}
.cart-mini {
	text-align: left;
	background: #f4f4f4;
	color: #666;
	height: 100%
}

.cart-mini .head {
	line-height: 50px;
	text-indent: 20px;
	text-align: center
}
.cart-mini .cart-mini-ct {
	height: 460px;
	overflow-x: auto
}
.cart-mini .info {
	font-weight: 700
}

.cart-mini .info .amount {
	color: #e14958
}
.cart-mini .cart-bar {
	margin: 12px 8px 20px;
	padding: 12px 12px 0;
	border-top: 1px solid #dbdbdb;
	line-height: 30px
}

.cart-mini .go-cart {
	background: #e14958;
	padding: 0 18px;
	color: #fff;
	display: block;
	text-align: center
}
.sidebar-coupon {
	padding-left: 20px;
	background-color: #474747;
	height: 100%
}

.sidebar-coupon .head {
	line-height: 50px;
	text-align: center;
	color: #e2e2e2;
	width: 238px
}

.sidebar-coupon .sidebar-login .head,
.sidebar-coupon .sidebar-login .sb-unlogin {
	margin-left: -20px
}

.sidebar-coupon .sidebar-login .head {
	width: 280px
}

.sidebar-data {
	overflow: hidden;
	height: 100%
}

.sidebar-function {
	float: left;
	position: relative;
	height: 100%;
	width: 40px;
}

.sidebar-collect {
	background-color: #ededed;
	text-align: left;
	height: 100%;
}

.sidebar-collect .bgoption,
.sidebar-collect .option {
	width: 123px;
	height: 30px;
	position: absolute;
	top: 94px;
	display: none;
}
.sidebar-collect .sb-unlogin {
	text-align: center;
}

.sidebar-collect .head {
	line-height: 50px;
	text-align: center;
	color: #8a8a8a;
}*/

/*首页最底端,da-footer开始:*/
/*第一个div:*/
.da-assure {
	background-color: #fff;
	height: 79px;
	line-height: 79px;
	border-bottom: solid 1px #e0e0e0;
	box-shadow: 0 2px 2px #e0e0e0;
	border-top: solid 1px #d8d8d8;
}

.da-assure .assure-1,
.da-assure .ico-assure {
	background: url(img/da-footer/ico-assure.png) no-repeat
}

.da-assure ul {
	width: 960px;
	margin: 0 auto;
}
.da-assure .assure-1,
.da-assure .assure-2,
.da-assure .assure-3,
.da-assure .ico-assure {
	vertical-align: middle;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 7px;
}

.da-assure li{
	float: left;
	margin-left: 130px;
	font-size: 14px;
}
.da-assure li:first-child{
	margin-left: 0;
}
.da-assure .assure-2{
	background: url(img/da-footer/ico-assure.png) -36px 0 no-repeat
}
.da-assure .assure-3{
	background: url(img/da-footer/ico-assure.png) -73px 0 no-repeat
}
.da-assure .ico-arrow {
	background-position: -2px -135px;
	width: 22px;
	height: 41px;
	margin-left: 50px
}

/*第二个div:*/
.da-investor {
	width: 1110px;
	margin: 0 auto;
	padding: 24px 0 40px 42px;
	border-bottom: solid 1px #d8d8d8
}

.da-investor dt {
	font-size: 18px;
	line-height: 40px
}

.da-investor dd {
	font-size: 14px;
	line-height: 20px
}

.da-investor .first {
	width: 660px;
	float: left
}

.da-investor .second {
	overflow: hidden
}

/*第三个div:*/
.da-copyright {
	text-align: center;
	padding-bottom: 20px
}

.da-copyright p {
	padding: 20px 0 0
}

.da-copyright table {
	margin: 20px auto 0;
	width: 530px
}

.da-copyright table img,
.da-copyright table span {
	width: 114px;
	height: 41px;
	border: 0
}






























































